<div class="col-lg-6 col-md-6 col-sm-14">
    <div class="card" >
        <div class="card-body">

            <h6 class="card-title">{{title}}</h6>
            <p class="card-subtitle text-muted">Card subtitle</p>
            <p class="card-text">{{description}}</p>
            <div class="btn-wrapper">
                <a class="btn btn-outline-primary mr-2">gCal</a>
                <a class="btn btn-outline-secondary mr-2">+</a>
                <a class="btn btn-outline-secondary mr-2">-</a>
            </div>
        </div>
    </div>
</div>