<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wolverine Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
</head>

<body>

    <ul class="nav justify-content-center" style="padding-top:16px;">
        {{ if .LoggedIn }}
        <li class="nav-item">
            <a class="nav-link" href="/recs">Your Recs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prefs">Preferences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{ else }}
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        {{ end }}
    </ul>


    <header class="text-center" style="padding-top:80px;padding-bottom:62px;">
        <h1 class="display-5">My Wolverine Events</h1>
        <p class="lead">Get weekly university event recommendations</p>
        {{ if not .LoggedIn }}
        <div id="g_id_onload" data-client_id="{{.GoogleClientId}}"
            data-context="use" data-ux_mode="popup" data-login_uri="https://mywolverine.events/login"
            data-auto_prompt="false">
        </div>
        <center>
            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
                data-size="large" data-logo_alignment="center" data-width="100">
            </div>
        </center>
        {{end}}
    </header>


    <h3 class="text-center">Popular Events This Week</h3><br>

    <div class="container p-0">
        <!-- <div class="card-group"> -->
        <div class="card-deck">

            {{range .FeaturedEvents}}
                {{template "eventCard" .}}
            {{end}}
            
        </div>
    </div>

    <footer class="text-center py-3 mt-5 border-top">
        <p>
            Built by <a href="https://emiliocantuc.github.io/">me</a>.
            Code openly <a href="https://github.com/emiliocantuc/my-wolverine-events">available</a>.
            Recommendations welcome <a href="mailto:emilio@mywolverine.events">here</a>.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>